body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: gray;
}

section {
  margin: 40px auto;
}

/* header */

header {
  display: flex;
}

nav {
  justify-content: flex-end;
}

/* title */

#title {
  display: flex;
  justify-content: center;
  width: 100%;
  text-transform: uppercase;
}

h1 {
  font-family: Oswald;
  font-size: 3rem;
  font-weight: bold;
  color: black;
  text-transform: none;
}

#hero img {
  margin: 30px auto;
}

/* article */

p {
  width: 900px;
  margin: 40px auto;
}